.comprisonPage .pokemonsSection {
    display: flex;
    height: calc(100vb - 115px);
    justify-content: space-between;
    gap: 340px;
}

.leftSide {
    background-color: blue;
    position: relative;
    flex: 1;
    display: flex;
}

.rightSide {
    background-color: brown;
    position: relative;
    display: flex;
    flex: 1;

}

.leftSide::after {
    content: '';
    position: absolute;
    top: 50%;
    right: 0;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: calc((100vb - 115px)/2) 0 calc((100vb - 115px)/2) 300px;
    border-color: transparent transparent transparent blue;
    transform: translateY(-50%) translateX(100%);
    z-index: 1;
}

.rightSide::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 0;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: calc((100vb - 115px)/2) 0 calc((100vb - 115px)/2) 300px;
    border-color: brown brown brown transparent;
    z-index: 11;
    transform: translateY(-50%) translateX(-100%);
}

.leftSide>div,
.rightSide>div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    margin: 0 auto;
    padding-bottom: 100px;
}


.comparisonSection {
    display: flex;
    height: calc(100vb - 115px);
    justify-content: center;
    align-items: center;
    color: black;
    padding: 80px 0;
}

.comparisonSection>div {
    width: 80%;
}

@media screen and (max-width: 1160px) {
    .comprisonPage .pokemonsSection {
        flex-direction: column;
        justify-content: space-between;
        gap: 350px;
        height: fit-content;
    }

    .leftSide {
        padding-top: 50px;
    }

    .leftSide::after {
        top: 100%;
        left: 0;
        border-width: 300px calc(100vw /2) 0;
        border-color: blue transparent transparent transparent;
        transform: translateY(0) translateX(0);
    }

    .rightSide {
        padding-top: 50px;
    }


    .rightSide::after {
        top: 0;
        left: 0;
        border-width: 300px calc(100vw /2) 0;
        border-color: transparent brown brown brown;
        transform: translateY(-100%) translateX(0);
    }
}