.comprisonPage {
    display: flex;
    height: calc(100vb - 115px);
    justify-content: space-between;
    gap: 340px;
}

.leftSide {
    background-color: brown;
    position: relative;
    flex: 5;
    display: flex;
}

.rightSide {
    background-color: blue;
    position: relative;
    display: flex;
    flex: 4;

}

.leftSide::after {
    content: '';
    position: absolute;
    top: 50%;
    right: 0;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: calc((100vb - 115px)/2) 0 calc((100vb - 115px)/2) 300px;
    border-color: transparent transparent transparent brown;
    transform: translateY(-50%) translateX(100%);
    z-index: 1;
}

.rightSide::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 0;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: calc((100vb - 115px)/2) 0 calc((100vb - 115px)/2) 300px;
    border-color: blue blue blue transparent;
    z-index: 11;
    transform: translateY(-50%) translateX(-100%);
    -webkit-transform: translateY(-50%) translateX(-100%);
    -moz-transform: translateY(-50%) translateX(-100%);
    -ms-transform: translateY(-50%) translateX(-100%);
    -o-transform: translateY(-50%) translateX(-100%);
}

.leftSide>div,
.rightSide>div {

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding-top: 50px;
}