.statsList {
    list-style: none;
    font-weight: bold;
    font-size: 20px;
    padding-left: 0;
    width: fit-content;
}

.statsList li {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    padding-bottom: 20px;
}

@media screen and (max-width: 440px) {
    .statsList li {
        /* display: flex;
        justify-content: space-between;
        gap: 20px;
        padding-bottom: 20px; */
        flex-direction: column;
    }
}